* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-color: #121212;
  font-family: monospace;
}
p, h1, h2, h3, h4, h5, h6, span, div, a {
  color: white;
}
