.Album_Cover{
    height: 700px;
    width: 700px;
    background-color: transparent;
    position: absolute;
    left: 10%;
    top: 5%;
}
.Album_Cover img{
    background-color: aliceblue;
    width: 700px;
    height: 700px;
    border-radius: 15px;
}
.Song_Title{
    position: absolute;
    height: 50px;
    width: 500px;
    background-color: #9C7B5B;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    top: 25%;
    right: 10%;
}

.Artist_Details{
    position: absolute;
    height: 50px;
    width: 500px;
    background-color: #9C7B5B;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    top: 35%;
    right: 10%;
}

.Details1{
    display: flex;
    flex-direction: column;

}


.Album{
    position: absolute;
    height: 50px;
    width: 500px;
    background-color: #9C7B5B;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    top: 45%;
    right: 10%;
}

.Released_Year{
    position: absolute;
    height: 50px;
    width: 500px;
    background-color: #9C7B5B;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    top: 55%;
    right: 10%;
}