body{
    align-items: center;
    justify-content: center;
}
.email{
    display: flex;
    position: absolute;
    top: 33%;
    background-color: #9C7B5B;
    border: none;
    width: 25vw;
    height: 5vh;
    left: 38%;
    align-items: center;
    border-radius: 15px;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
    overflow: hidden;
    padding: 5px 5px;
}

.emailinput{
    background-color: transparent;
    background: none;
    border: none;
    width: 25vw;
    height: 4vh;
    overflow: hidden;
    border-radius: 15px;
    outline: none;
}
.emailinput::placeholder{
    color: #E3E3E3;
    overflow: hidden;
}

.passwordsignup{
    display: flex;
    position: absolute;
    top: 53%;
    background-color: #9C7B5B;
    margin: none;
    border: none;
    overflow: hidden;
    width: 25vw;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
    height: 5vh;
    left: 38%;
    border-radius: 15px;
    align-items: center;
    padding: 5px 5px;
}

.passwordinput{
    background-color: transparent;
    border: none;
    width: 25vw;
    height: 4vh;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    overflow: hidden;
    font-size: clamp(4px, 1vw, 16px);
    margin: none;
    border-radius: 15px;
    outline: none;
}
.passwordinput::placeholder{
    color: #E3E3E3;
    overflow: hidden;
}


.usernamesignup{
    display: flex;
    position: absolute;
    top: 43%;
    background-color: #9C7B5B;
    margin: none;
    border: none;
    width: 25vw;
    overflow: hidden;
    height: 5vh;
    left: 38%;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
    align-items: center;
    border-radius: 15px;
    padding: 5px 5px;
}

.usernameinput{
    background-color: transparent;
    border: none;
    width: 25vw;
    width: clamp(60px, 25vw, 475px);
    overflow: hidden;
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
    height: 4vh;
    margin: none;
    border-radius: 15px;
    outline: none;
}

.usernameinput::placeholder{
    color: #E3E3E3;
    width: clamp(60px, 25vw, 475px);
    overflow: hidden;
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);

}

.submit{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 6vh;
    width: 6vw;
    background-color: #9C7B5B;
    color: aliceblue;
    top: 75%;
    left: 47%;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
    border: none;
    border-radius: 15px;
}

.enter_email{
    color: aliceblue;
    position: absolute;
    top: 27%;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    overflow: hidden;
    font-size: clamp(4px, 1vw, 16px);
    left: 38%;
}

.enter_username{
    color: aliceblue;
    position: absolute;
    top: 38%;
    left: 38%;
    overflow: hidden;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
}

.enter_password{
    color: aliceblue;
    position: absolute;
    overflow: hidden;
    top: 48%;
    left: 38%;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
}

.switch_login{
    color: aliceblue;
    position: absolute;
    overflow: hidden;
    top: 67%;
    left: 39%;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
}
.change_password{
    color: aliceblue;
    position: absolute;
    top: 58%;
    left: 38%;
    overflow: hidden;
    width: clamp(60px, 25vw, 475px);
    height: clamp(22px, 5vh, 56px);
    font-size: clamp(4px, 1vw, 16px);
}

.Welcome{
    color: aliceblue;
    position: absolute;
    font-size: clamp(4px, 4vw, 50px);
    top: 18%;
    overflow: hidden;
    left: 40%;
}

.Login{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 6vw;
    overflow: hidden;
    background-color: #9C7B5B;
    top: 74%;
    left: 47%;
    border:none;
}

.login_link{
    color: aliceblue;
    overflow: hidden;
}


.changepassword{
    display: flex;
    position: absolute;
    top: 63%;
    background-color: #9C7B5B;
    margin: none;
    border: none;
    width: 25vw;
    height: 5vh;
    overflow: hidden;
    left: 38%;

    border-radius: 15px;
    align-items: center;
    padding: 5px 5px;
}

.changepasswordinput{
    background-color: transparent;
    border: none;
    width: 25vw;
    overflow: hidden;
    height: 4vh;
    margin: none;
    border-radius: 15px;
    outline: none;
}
.changepasswordinput::placeholder{
    color: #E3E3E3;
    overflow: hidden;
}
body{
    background-color: #282e2d;
}


