/* Main container */
.Details1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

/* Wrapper for whole page */
.details-wrapper {
    display: flex;
    gap: 60px;
    padding: 5vh 8vw;
    align-items: center;
}

/* Album Cover */
.Album_Cover {
    width: 420px;
    height: 420px;
}

.Album_Cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Song text */
.Song_Title,
.Artist_Details,
.Released_Year,
.Album {
    font-size: 1.6rem;
    color: white;
}
