
.LibraryPage {
  padding-top: 90px; 
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.PlaylistTitle {
  color: white;
  font-size: 26px;
  margin: 0 0 20px 0;  
  text-align: left;
}

.AlbumsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
}

.AlbumCard {
  width: 180px;
  background: #9C7B5B;
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.AlbumCover {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background: #7a5f45;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.AlbumCover img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.AlbumCard p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0;
}
.LibraryPage {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  width: 100%;
  align-self: flex-start;
  display: block;
}
.LibraryPage {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  width: 100%;
  align-self: flex-start;
  display: block;
}
