.Bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  background: #9C7B5B;
  display: flex;
  padding: 0 15px;
  z-index: 9;
  box-sizing: border-box;
}

.Pause, .Rewind, .Forward, .Like, .details {
  background: none;
  border: none;
  cursor: pointer;
}

.Image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
  margin-top: 15px;
}

.Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Song {
  margin-left: 12px;
  font-size: 1rem;
  color: white;
  margin-top: 10px;
}

.Artist {
  margin-left: 12px;
  font-size: 0.85rem;
  color: #ddd;
}

.details {
  margin-left: auto;
  border: 2px solid white;
  color: white;
  padding: 6px 14px;
  border-radius: 8px;
}

.Slider {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 4px;
  background: #ddd;
  border-radius: 4px;
}

.Controls {
  position: absolute;
  left: 50%;
  top: 24px;
  transform: translateX(-50%);
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Controls button,
.Controls img {
  position: static;
  margin: 0;
}

.Play{
  background-color: #9C7B5B;
}
