.GLogo{
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GLogo img{
    height: 35px;
    width: 35px;
}