.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #9C7B5B;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.TopLeft {
  justify-self: start;
}

.TopCenter {
  justify-self: center;
}

.TopRight {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 80px;
}

.TopIcon,
.MenuButton img,
.User img {
  height: 22px;

  cursor: pointer;
}


.Melofi_logo {
  height: 40px;
}

body {
  margin: 0;
  padding-top: 70px;
}
.TopIcon,
.MenuButton img,
.User img {
  height: 26px;        
  width: auto;
  cursor: pointer;
}


.User {
  background: none;
  border: none ;
  padding: 0;
}

.User * {
  background: none ;
  border: none;
  box-shadow: none ;
}

.TopLink {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-right: 8px;
  cursor: pointer;
}

.TopLink {
  color: white;
  font-weight: 500;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
  box-shadow: none;
}
