.AlbumCard{
    height: 200px;
    width: 200px;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AlbumCard img{
    background-color: aliceblue;
    width: 200px;
    height: 150px;
}
.AlbumTitle{
    position: absolute;
    top: 92%;
    left: 35%;
    color: aliceblue;
    padding: 5px 2px;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 200px;
    width: 200px;
}
