.DeleteButtonS{
    background-color: #9C6835;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    height: 6vh;
    width: 2vw;
    border: 1px double aliceblue;
    cursor: pointer;
    margin: 2px;
}

.DeleteButtonS img{
    background-color: transparent;
    cursor: pointer;
}

