

.MenuButton{
    background-color: #9C6835;
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 15px;
    height: 6vh;
    width: 7vw;
    top: 12px;
    border: 1px aliceblue double;
    cursor: pointer;
    right: 20%;
    margin: 2px;
}

.Sidebararrangement{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
}

.Backbutton{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    height: 20px;
    width: 20px;
}

