:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2C3539;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TopBar{
  display: flex;
  top: 0px;
  position: absolute;
  height: 9vh;
  width: 100vw;
  left: 0px;
  
  background-color: #9C7B5B;
}

.Melofi1{
  display: flex;

}

.Melofi1 img{
  object-fit: cover;
  left: 40%;
}